.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  padding-top: 10vh;
  box-sizing: border-box;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28px;
}

.value {
  font-size: 60px;
  margin: 0;
}

@media (max-width: 576px) {
  .App {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}